*{
    box-sizing: border-box;
    margin: 0;
}

:root{
    --main-bg-color:  #FFFECA;
    --main-text-color: #0000FF;
    --white-bg-color: #FFFFFF;
}

body{
    background-color: var(--main-bg-color);
    font-family: inter;
}

/*UTILITY*/

.blue-white-text{
    font-size: 18px;
    line-height: 25px;
    font-weight: 400;
    font-family: inter;
    background-color: var(--white-bg-color);
    color: var(--main-text-color);
    padding: 1.5em;
    max-width: 440px;
    margin: -5px auto;
}

.time-line-spacing{
    margin-left: 1em;
    margin-bottom: 3em;
}

.time-line-dot{
    position: absolute;
    left: -11px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: var(--main-text-color);
}

/*UTILITY*/

header{
    position: relative;
    color: var(--main-text-color);
    max-width: 440px;
    height: 20em;
    padding:  3em 0 0 1em;
}

h1{
    font-weight: bold;
    line-height: 93%;
    font-size: 2em;
    color: var(--main-text-color);
    width: 10em;
}

h2{
    font-size: 1.5em;
    font-weight: 700;
    line-height: 29px;
    color: var(--main-text-color)
}

h3{
    font-weight: 400;
    margin: 0 0 0.5em 0;
    font-size: 1.5em;
}

h4{
    color: var(--main-text-color);
    font-weight: 700;
}

h5{
    font-weight: 400;
    line-height: 29px;
    font-size: 1em;
    color: var(--main-text-color)
}

.header-illustration{
    width: 10em;
    max-width: 182px;
    position: absolute;
    top: 10em;
    right: 2em;
}

main{
    max-width: 440px;
}

.intro{
    position: relative;
    margin: 7em auto 0;
    width: 90%;
    max-width: 440px;
}   

.intro-image{
    width: 100%;
    max-width: 440px;
}

.intro-heading{
    background-color: var(--white-bg-color);
    padding: 0.5em 0.5em 0.5em 1em;
    position: absolute;
    bottom: 0;
    right: -1px;
}

.intro-text{
    max-width: 440px;
    width: 90%;
    margin: -5px auto;
}

.facts-and-numbers{
    width: 100%;
    max-width: 440px;
    margin: 7em auto;
}

.facts-heading{
    text-align: center;
    color: var(--main-text-color);
    width: 200px;
    margin: 0 auto 1em auto;
}

.facts-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style-type: none;
    font-size: 1em;
    font-weight: 400;
    color: var(--main-text-color);
    line-height: 2em;
    padding: 0;
}

.facts-list > li{
    background-color: #FFE400;
    border-radius: 50px;
    padding: 5px 12px;
    margin-bottom: 0.5em;
}

.facts-list > li > span{
    font-weight: 700;
}

.our-vision{
    position: relative;
    margin: 7em auto 0 auto;
    width: 90%;
}

.image-our-vision{
    width: 100%;
}

.vision-heading{
    color: var(--main-text-color);
    background-color: var(--white-bg-color);
    padding: 0.5em 0.5em 0.5em 1em;
    position: absolute;
    bottom: 0;
    left: 0;
}

.vision-text{
    width: 90%;
    max-width: 440px;
    margin: -5px auto;
}

.vision-button{
    background-color: var(--main-text-color);
    color: white;
    padding: 10px 16px;
    border-radius: 5px;
    border: none;
    margin-top: 10px;
    font-weight: 400;
}

.interview-jasper{
    width: 90%;
    margin: auto;
    max-width: 440px;
}

.imagewrapper{
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
    margin: 7em auto 0 auto;

}

.jasper-image{
    width: 200px;
    height: 280px;
}

.interview-jasper-heading{
    margin-top: 1em;
}

.interview-text{
    line-height: 30px;
}

.interview-button{
    background-color: var(--main-text-color);
    color: white;
    border: none;
    border-radius: 5px;
    padding:5px 8px 5px 8px;
    margin: 1em 0 0 0;
}

.time-line{
    position: relative;
    width: 90%;
    margin: 7em auto;
    max-width: 440px;   
    border-width: 0;
    border-left: 2px solid;
    border-image: linear-gradient(var(--main-text-color), var(--main-bg-color)) 0 100%;
    padding-bottom: 4em;
}

.time-line h2{
    padding: 5px 0 5px 0;
}

.time-line-headings{
    display: flex;
    align-items: center;
}

.time-line-image{
    width: 100%;
    margin: 1em auto;
}

.time-travel{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 440px;
}


.time-travel-image-wrapper{
    width: 50%;
    height: 283px;
}

.time-travel-image{
    width: 100%;
    height: 283px;
    object-fit: cover;
}
